.skills {
  
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  
  .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
    span{
      display: inline-block;
      vertical-align: middle;
      height: 3em;
      line-height: 3em;
    }
  }

  .bar {
    position: relative;
    border: 2px solid _palette(accent6);
    border-radius: _size(border-radius);

    div {
      position: relative;
      width: 0;
      height: 1em;
      border-radius: _size(border-radius) - 5px;
      background-color: _palette(accent3);
    }
  }

  .icon {
    display: inline-block;
    color: _palette(icon);

    &:before {
      font-size: 2.75rem;
      line-height: 1.3;
    }
  }
  
  .anim-bar {
    animation: html-fill 2s forwards;
  }
  
}
@keyframes html-fill {
  100% {
    width: var(--percent);
  }
}