@import url(https://fonts.googleapis.com/css?family=Mukta+Mahee);

:root {
    --black: #000000;
    --dark: #121418;
    --dark-grey: #1B1F24;
    --grey: #656567;
    --yellow: #FFD155;
    --yellow-highlight: #E8AB41;
    --white: #ffffff;
    --navbarcolor: rgba(0, 0, 0, 0.8);
    font-family: 'Mukta Mahee';
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--dark);
}

a {
    cursor: pointer;
}

p {
    color: var(--grey);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.black p,
.dark p {
    color: var(--white);
    margin: 0;
}

strong {
    position: relative;
}

strong::after {
    content: '';
    position: absolute;
    bottom: 0.9rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 1.2rem;
    z-index: -1;
    background-image: url('../../images/strong.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 45px;
}

nav {
    position: fixed;
    width: 100%;
    padding: 2em 5em 0em 5em;
    z-index: 115;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

nav a {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;

    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 53px;
    color: var(--white);
    text-decoration: none;
    position: relative;
}

nav a:hover {
    /*color: var(--yellow);*/
    cursor: pointer;
}

nav a:hover:after {
    content: '';
    position: absolute;
    bottom: 0em;
    left: -0.5rem;
    right: -0.5rem;
    height: .4rem;
    z-index: -1;
    background-image: url('../../images/strong.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 133px;

    /* identical to box height */
    letter-spacing: 0.04em;
    text-transform: uppercase;
    position: relative;
    z-index: 100;
}

.title h2 {
    margin: 0 0 1em 0;
}

.white h2 {
    color: var(--dark);
}

.grey h2,
.dark h2 {
    color: var(--white)
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 80px;
    text-align: left;

    /* identical to box height */
    letter-spacing: 0.03em;
    margin: 0;
}

.dark h3 {
    color: var(--yellow)
}

h5 {
    color: var(--dark);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 80px;
    text-align: left;
    letter-spacing: 0.03em;
    margin: 1em 0 0.5em 0;
}

h5::after {
    content: '';
    background-image: url('../../images/Ellipse.svg');;
    background-size: 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    margin-left: 0.25em;
}

.welcometitle {
    position: relative;
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 117.2%;

    /* or 113px */
    letter-spacing: 0.03em;
    margin-bottom: 0;
    z-index: 100;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.subtitle {
    color: var(--white);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 60px;

    /* identical to box height */
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.welcome {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.welcome-left {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 5%;
    margin-bottom: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.welcome-right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--dark);
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
}

.self {
    /*flex: 0;*/
    max-width: 100%;
    min-width: 600px;
    display: block;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.about {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 1080px;
}

.about-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 5em;
}

.title {
    text-align: center;
}

.aboutme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    gap: 5em;
    padding: 0 10em 0 10em;
    text-align: justify;
}

.gettoknowme {
    width: 100%;
}

.skills {
    width: 100%;
}

.skilllist {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    line-height: 1.22;
    padding: .5em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 2em;
    font-size: 24px;
}

.icon {
    width: 2em;
    display: inline-block;
    margin-bottom: -14px;
    margin-right: 1em;
}

.button {
    color: var(--white) !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    background-color: var(--black);
    cursor: pointer;
    font-weight: 500;
    height: 4.75em;
    line-height: 4.75em;
    width: 8em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-size: 24px;
    white-space: nowrap;
    margin: 0.5em 0.5em 0 0;
    border: 2px solid transparent;
    -moz-transition: border 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out;
    -webkit-transition: border 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out;
    -ms-transition: border 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.button:hover {
    border: 2px solid var(--yellow);
    transform: scale(1.2);
}

.button:active {
    border: 2px solid var(--yellow-highlight);
    transform: scale(1.1);
}

.dark {
    background-color: var(--dark);
}

.black {
    background-color: var(--black);
}

.grey {
    background-color: var(--dark-grey);
}

.white {
    background-color: var(--white);
}

.projects {
    width: 100%;
}

.projects-content {
    padding: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5em;
}

.project {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    min-width: 1084px;
    min-height: 739px;
    border: 1px solid #656567;
    border-radius: 80px;
    vertical-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.project-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 6em;
    padding-top: 6em;
    padding-right: 6em;
    padding-bottom: 6em;
    padding-left: 6em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.project-info {
    margin: 0 0 0 5em;
}

.project-image {
    min-width: 483px;
    height: 563px;
    overflow: hidden;
    border-radius: 80px;
    float: left;
    -o-object-fit: cover;
    object-fit: cover;
}

.project h4 {
    display: block;
    margin: 1em 0 0 0;
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 121.2%;

    letter-spacing: 0.03em;
}

.project p {
    max-width: 330px;
    margin: 1em 0 1em 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
}

.project a {
    color: var(--yellow);
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 53px;
    cursor: pointer;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

.project a::before {
    content: '';
    background-image: url('../../images/Ellipse.svg');
    background-size: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    margin-right: 0.3em;
}

.contact {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.contact-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-content p {
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.03em;
    max-width: 1007px;
}

.contact-content .button {
    margin: 0;
    height: 3.75em;
    line-height: 3.75em;
    -moz-transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
}

.contact-content .button:hover {
    transform: scale(1.2);
}

.contact-content .button:active {
    transform: scale(1.1);
}

.highlight-text {
    color: var(--yellow);
}

.footer {
    height: 169px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10em 0 10em;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.sociallinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1em;
}

@media (max-width: 1310px) {
    .welcome-right{
        display: none;
    }
}

@media (max-width: 1100px) {
    .aboutme {
        padding: 0.5em;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    nav {
        padding: 0;
        background-color: var(--navbarcolor);
    }

    nav a {
        font-size: 22px;
    }

    .project {
        min-width: 500px;
    }

    .project-container {
        padding: 1em;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .project-image {
        min-width: 241px;
        height: 281px;
        border-radius: 40px;
    }

    .project-info {
        margin: 0 0 0 1em;
    }

    .footer {
        padding: 0 2em 0 2em;
    }

    .button {
        padding: 0 0.5em;
        font-size: 18px;
    }

    .contact-content .button {
        height: 3.75em;
        line-height: 3.75em;
        width: 10em;
    }

    .skilllist {
        width: auto;
    }
    
    
}

@media (max-width: 550px) {

    h2 {
        font-size: 55px;
    }

    ul {
        padding-left: 15px;
        gap: 10px;
    }

    nav a {
        font-size: 16px;
    }

    .welcome {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .project {
        min-width: 300px;
        border-radius: 42px;
    }

    .project-image {
        min-width: 180px;
        height: 210px;
        border-radius: 20px;
    }

    .about-content,
    .contact-content {
        padding: 1em;
    }

    .contact-content p {
        font-size: 34px;
    }

    .welcometitle {
        font-size: 60px;
    }

    .subtitle {
        font-size: 28px;
    }

    .sociallinks {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .skilllist {
        width: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: .25em;
        row-gap: 2em;
        font-size: 24px;
    }

    .projects-content {
        padding: 2.5em;
    }

    .footer {
        padding: 1em;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 350px) {

    h2 {
        font-size: 45px;
    }

    h5 {
        font-size: 36px;
    }

    ul {
        gap: 5px;
    }

    p {
        font-size: 16px;
    }

    strong::after {
        bottom: 0.6rem;
        left: -0.5rem;
        right: -0.5rem;
        height: 0.6rem;
    }

    .welcometitle {
        font-size: 45px;
    }

    .subtitle {
        font-size: 22px;
    }

    .project {
        min-width: 100px;
        min-height: 500px;
        border-radius: 32px;
    }

    .project h4 {
        font-size: 24px;
    }

    .project p {
        font-size: 20px;
    }

    .about-content {
        padding: 0;
    }

    .project-image {
        min-width: 120px;
        height: 140px;
        border-radius: 16px;
    }

    .footer {
        padding: 1em;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    .skilllist {
        width: auto;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        font-size: 16px;
    }


    .projects-content {
        padding: 0.5em;
    }

    .contact-content {
        padding: 0;
    }

    .contact-content p {
        font-size: 26px;
    }
}
