
body {
  font-family: 'Space Grotesk','Noto Sans',sans-serif;
}

.avatar-hero {
  background-image: url('../../images/self.png');
}

html {
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
}

.button a {
    transition: transform 0.2s ease;
}

.button a:hover {
    transform: scale(1.15);
}

.button a:active {
    transform: scale(1.05);
}

button {
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.15);
}

button:active {
    transform: scale(1.05);
}